#card {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    #card {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    #card {
        width: 150px;
    }
}